@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
/*
0-600px:      Phone
600-900px:    Tablet: Portrait
900-1200px:   Tablet Landscape
[1200-1800px] Is where the normal styles apply
1800px + :    Big Desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

1 em = 16 px;
600px/16px = 37.5em;

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

nav {
  position: absolute;
  top: 5%;
  width: 100%;
  z-index: 20;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  margin-left: auto;
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

@media (max-width: 37.5em) {
  .nav-links {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background: #080e29;
    height: 110vh;
    width: 100%;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem);
    -webkit-clip-path: inset(-50% 0 100% 100%);
            clip-path: inset(-50% 0 100% 100%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 5;
  }
}

.nav-links li {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.nav-links a:hover {
  color: orange;
  -webkit-transform: translateY(0.6rem) scale(1.2);
          transform: translateY(0.6rem) scale(1.2);
  color: #ffa500;
}

.nav-links li:hover {
  -webkit-transform: translateY(0.2rem) scale(1.1);
          transform: translateY(0.2rem) scale(1.1);
  color: #ffa500;
}

@media (max-width: 37.5em) {
  .hamburger {
    position: absolute;
    display: block;
    right: 5%;
    -webkit-transform: translate(-5%, -2%);
            transform: translate(-5%, -2%);
    z-index: 20;
    cursor: pointer;
  }
}

@media (max-width: 37.5em) {
  .hamburger__line {
    background: #ffffff;
    width: 3rem;
    height: 0.3rem;
    margin: 0.5rem;
  }
}

.open {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  pointer-events: all;
}

.logo {
  position: absolute;
  top: 4%;
  left: 2%;
  text-align: center;
}

@media (max-width: 75em) {
  .logo {
    top: 5%;
  }
}

@media (max-width: 37.5em) {
  .logo {
    top: 3%;
  }
}

.logo__paragraph {
  width: 100%;
  font-size: 2.3rem;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
}

@media (max-width: 75em) {
  .logo__paragraph {
    font-size: 1.5rem;
  }
}

@media (max-width: 56.25em) {
  .logo__paragraph {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
}

.logo__span {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  text-transform: lowercase;
}

@media (max-width: 75em) {
  .logo__span {
    font-size: 1.3rem;
  }
}

@media (max-width: 56.25em) {
  .logo__span {
    font-size: 1rem;
  }
}

.welcome-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 90%;
  left: 52.5%;
  color: #fff;
  z-index: 10;
  -webkit-transform: translate(-52.5%, -90%);
          transform: translate(-52.5%, -90%);
}

@media (max-width: 75em) {
  .welcome-message {
    left: 56%;
    -webkit-transform: translate(-56%, -90%);
            transform: translate(-56%, -90%);
  }
}

@media (max-width: 56.25em) {
  .welcome-message {
    left: 53%;
    -webkit-transform: translate(-53%, -90%);
            transform: translate(-53%, -90%);
  }
}

@media (max-width: 37.5em) {
  .welcome-message {
    top: 95%;
  }
}

.welcome-message__heading {
  text-transform: uppercase;
  font-size: 7rem;
}

@media (max-width: 75em) {
  .welcome-message__heading {
    font-size: 5rem;
  }
}

@media (max-width: 56.25em) {
  .welcome-message__heading {
    font-size: 3rem;
  }
}

@media (max-width: 37.5em) {
  .welcome-message__heading {
    font-size: 2rem;
  }
}

.welcome-message__dot {
  width: 5rem;
  height: 5rem;
  background-color: #ffa500;
  border-radius: 50%;
  margin: 0 0 1rem 2rem;
}

@media (max-width: 75em) {
  .welcome-message__dot {
    margin: 0 0 0.6rem 2rem;
  }
}

@media (max-width: 56.25em) {
  .welcome-message__dot {
    width: 2rem;
    height: 2rem;
    margin: 0 0 0.5rem 1rem;
  }
}

@media (max-width: 37.5em) {
  .welcome-message__dot {
    margin: 0 0 0.2rem 1rem;
  }
}

.container {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 37.5em) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container h1 {
  position: absolute;
}

.aside-left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  background-color: #ffa500;
  -webkit-clip-path: polygon(45% 14%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0% 25%);
          clip-path: polygon(45% 14%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0% 25%);
}

@media (max-width: 37.5em) {
  .aside-left {
    width: 100%;
    height: 50vh;
    -webkit-clip-path: polygon(55% 14%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0% 30%);
            clip-path: polygon(55% 14%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0% 30%);
  }
}

.aside-left .social-media {
  position: absolute;
  top: 50%;
  left: 20%;
  height: 40%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 56.25em) {
  .aside-left .social-media {
    top: 45%;
    height: 55%;
  }
}

@media (max-width: 37.5em) {
  .aside-left .social-media {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    top: 50%;
    left: 50%;
  }
}

.aside-left .social-media__github {
  width: 10rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

.aside-left .social-media__github:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 56.25em) {
  .aside-left .social-media__github {
    width: 7rem;
  }
}

.aside-left .social-media__linkedin {
  width: 10rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

.aside-left .social-media__linkedin:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 56.25em) {
  .aside-left .social-media__linkedin {
    width: 7rem;
  }
}

.aside-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  background-color: #100f1b;
}

@media (max-width: 37.5em) {
  .aside-right {
    width: 100%;
    height: 50vh;
  }
}

.aside-right .image-container {
  width: 80%;
}

.aside-right .image-container__image {
  width: 100%;
  mix-blend-mode: lighten;
}

.container-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.container-projects .primary-heading {
  position: absolute;
  top: 25%;
  left: 55%;
  color: #100f1b;
  -webkit-transform: translate(-55%, -25%);
          transform: translate(-55%, -25%);
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 10rem;
}

.container-projects span {
  color: #fff;
}

.javascript-projects {
  height: 100vh;
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas: '. . . . . . ' '. . . . . . ' '. . js-heading js-heading . . ' '. swiper swiper swiper swiper . ' '. swiper swiper swiper swiper . ';
}

.javascript-projects__heading {
  font-size: 2rem;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: js-heading;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-decoration: underline;
}

.javascript-projects .swiper-container {
  width: 600px;
  height: 400px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: swiper;
}

.javascript-projects .swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.javascript-projects .slide-1 {
  background-image: url("/assets/images/covid.jpg");
}

.javascript-projects .slide-2 {
  background-image: url("/assets/images/music-player.jpg");
}

.javascript-projects .slide-3 {
  background-image: url("/assets/images/quiz.jpg");
}

.javascript-projects .swiper-button-prev {
  color: #fff;
}

.javascript-projects .swiper-button-next {
  color: #fff;
}

.javascript-projects .slide-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #fff;
}

.javascript-projects .slide-container a {
  text-decoration: none;
  color: #fff;
}

.javascript-projects .slide-container__heading {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  cursor: pointer;
  margin-top: 5rem;
}

.javascript-projects .slide-container__heading-secondary {
  font-size: 2.5rem;
  margin-top: 3rem;
}

.javascript-projects .slide-container .list {
  margin-top: 1rem;
  list-style: none;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
}

.javascript-projects .slide-container .list__item {
  margin-top: 1rem;
}

.javascript-projects .slide-1:hover .slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(16, 15, 27, 0.6);
}

.javascript-projects .slide-2:hover .slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(16, 15, 27, 0.6);
}

.javascript-projects .slide-3:hover .slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(16, 15, 27, 0.6);
}

.html-css-projects {
  background-color: #100f1b;
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas: '. . . . . . ' '. . . . . . ' '. . html-heading html-heading . . ' '. swiper swiper swiper swiper . ' '. swiper swiper swiper swiper . ' '. swiper swiper swiper swiper . ';
}

.html-css-projects__heading {
  font-size: 2rem;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: html-heading;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-decoration: underline;
  color: #fff;
}

.html-css-projects .swiper-container {
  width: 600px;
  height: 400px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: swiper;
}

.html-css-projects .swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.html-css-projects .slide-1 {
  background-image: url("/assets/images/ceramic.jpg");
}

.html-css-projects .slide-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #fff;
}

.html-css-projects .slide-container a {
  text-decoration: none;
  color: #fff;
}

.html-css-projects .slide-container__heading {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  cursor: pointer;
  margin-top: 5rem;
}

.html-css-projects .slide-container__heading-secondary {
  font-size: 2.5rem;
  margin-top: 3rem;
}

.html-css-projects .slide-container .list {
  margin-top: 1rem;
  list-style: none;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
}

.html-css-projects .slide-container .list__item {
  margin-top: 1rem;
}

.html-css-projects .slide-1:hover .slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(16, 15, 27, 0.6);
}
/*# sourceMappingURL=main.css.map */