.swiper-container {
  min-height: 38rem;
  width: 100%;
  grid-area: swiper;

  @include respond(tab-land) {
    min-height: 35rem;
  }

  @include respond(tab-port) {
    height: 100%;
  }

  @include respond(phone) {
    height: 25rem;
  }
}
.swiper-pagination {
  top: 105%;
}

.swiper-button-next {
  right: -50px !important;
  color: $color-primary !important;
}

.swiper-button-prev {
  left: -50px !important;
  color: $color-primary !important;
}

.swiper-pagination-bullet {
  background-color: $color-primary !important;
}

.swiper-pagination-bullet-active {
  background-color: $color-primary !important;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide-1 {
  background-image: url('/assets/images/adidas-ultra.jpg');
}

.slide-2 {
  background-image: url('/assets/images/netflix-background.jpg');
}

.slide-3 {
  background-image: url('/assets/images/eating.jpg');
}

.slide-4 {
  background-image: url('/assets/images/cryptocurrency.jpg');
}

.slide-5 {
  background-image: url('/assets/images/background.jpg');
}
.slide-6 {
  background-image: url('/assets/images/music-player.jpg');
}
.slide-7 {
  background-image: url('/assets/images/covid.jpg');
}
.slide-8 {
  background-image: url('/assets/images/quiz.jpg');
}
.slide-9 {
  background-image: url('/assets/images/ceramic.jpg');
}
.slide-10 {
  background-image: url('/assets/images/porsche.jpg');
}
.slide-container {
  @include flex(flex, column, center, center);
  min-height: 100%;
  background: rgba($color-secondary, 0.7);
  color: $color-white;

  @include respond(big-desktop) {
    display: none;
  }

  @include respond(tab-port) {
    padding: 7rem 0;
  }

  @include respond(phone) {
    padding: 0;
  }

  a {
    text-decoration: none;
    text-align: center;
    color: $color-white;
  }

  &__heading {
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 3rem;
    text-align: center;

    @include respond(tab-land) {
      font-size: 2rem;
      letter-spacing: 0.5rem;
      margin-top: 1.5rem;
    }

    @include respond(tab-port) {
      font-size: 3rem;
      padding: 0 2rem;
    }

    @include respond(phone) {
      font-size: 1.3rem;
      letter-spacing: 0.5rem;
      margin-top: 1rem;
    }
  }

  &__link {
    font-size: 2.5rem;
    margin-top: 2rem;
    color: $color-primary;
    cursor: pointer;

    @include respond(tab-land) {
      font-size: 2rem;
      margin: 2rem 0;
    }
    @include respond(tab-port) {
      font-size: 3rem;
    }

    @include respond(phone) {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }

  &__heading-secondary {
    font-size: 2.5rem;
    margin-top: 2rem;

    @include respond(tab-land) {
      font-size: 1.5rem;
      margin-top: 0;
    }

    @include respond(tab-port) {
      font-size: 3rem;
      margin: 0;
    }

    @include respond(phone) {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }

  .list {
    margin-top: 1rem;
    list-style: none;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;

    @include respond(tab-land) {
      margin-bottom: 0.5rem;
    }

    @include respond(tab-port) {
      font-size: 2rem;
    }

    @include respond(phone) {
      font-size: 1rem;
      margin-top: 0.5rem;
    }

    &__item {
      margin-top: 1rem;

      @include respond(phone) {
        margin-top: 0.5rem;
      }
    }
  }

  &__logo {
    width: 3rem;
    filter: invert(80%) sepia(66%) saturate(3911%) hue-rotate(9deg)
      brightness(99%) contrast(102%);
    margin-top: 2rem;

    @include respond(tab-land) {
      margin-top: 2rem;
    }

    @include respond(tab-port) {
      margin-top: 4rem;
    }

    @include respond(phone) {
      margin-top: 1.5rem;
    }
  }
}
.slide-1:hover .slide-container {
  @include slide-hover;
}

.slide-2:hover .slide-container {
  @include slide-hover;
}

.slide-3:hover .slide-container {
  @include slide-hover;
}

.slide-4:hover .slide-container {
  @include slide-hover;
}

.slide-5:hover .slide-container {
  @include slide-hover;
}

.slide-6:hover .slide-container {
  @include slide-hover;
}

.slide-7:hover .slide-container {
  @include slide-hover;
}

.slide-8:hover .slide-container {
  @include slide-hover;
}

.slide-9:hover .slide-container {
  @include slide-hover;
}

.slide-10:hover .slide-container {
  @include slide-hover;
}
