.about-container {
  display: flex;
  height: 100vh;

  @include respond(tab-port) {
    flex-direction: column;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12rem 0;
  width: 50%;

  @include respond(tab-port) {
    width: 100%;
  }

  @include respond(phone) {
    margin: 12rem 0 0 0;
  }
}

.welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 9rem 3rem 2rem 1rem;
  background-color: #f1f1f1;

  @include respond(phone) {
    width: 70%;
  }

  &__heading {
    position: absolute;
    top: 2.2rem;
    left: -7.4rem;
    font-size: 3rem;

    @include respond(phone) {
      font-size: 2rem;
      top: 3.5rem;
      left: -4.9rem;
    }
  }

  &__name {
    width: 100%;
    margin-left: 4rem;
    font-size: 1.8rem;

    @include respond(phone) {
      margin-top: -2rem;
    }
  }

  &__description {
    margin: 2rem 0 0 10rem;
    font-size: 1.3rem;

    @include respond(tab-land) {
      width: 100%;
    }

    @include respond(phone) {
      text-align: end;
      margin: 1rem 0;
    }
  }

  &__image {
    position: absolute;
    bottom: -45%;
    right: -7rem;
    width: 30%;
    border-radius: 80%;

    @include respond(tab-land) {
      top: 12rem;
      right: -4rem;
    }
  }
}

.container-about {
  margin-top: 12rem;
  padding: 0 8rem;

  @include respond(phone) {
    padding: 0 3rem;
  }

  &__heading {
    font-size: 4rem;
    margin-bottom: 2rem;

    @include respond(tab-land) {
      font-size: 3rem;
    }
  }

  &__paragraph {
    font-size: 2rem;

    @include respond(big-desktop) {
      font-size: 2.7rem;
    }

    @include respond(tab-land) {
      font-size: 1rem;
    }

    @include respond(tab-port) {
      font-size: 2.3rem;
    }

    @include respond(phone) {
      font-size: 1.5rem;
    }
  }

  a {
    text-decoration: none;
    color: $color-primary;
  }
}

.technologies {
  width: 50%;
  background-color: $color-secondary;

  @include respond(tab-port) {
    margin-top: 10rem;
    padding-bottom: 20rem;
    width: 100%;
  }

  @include respond(phone) {
    padding-bottom: 10rem;
  }

  &__heading {
    width: 100%;
    color: $color-white;
    text-align: center;
    font-size: 3rem;
    font-weight: lighter;
    margin-top: 20rem;
    letter-spacing: 0.8rem;

    @include respond(phone) {
      margin-top: 10rem;
      font-size: 2rem;
    }
  }
}

.container-tech {
  @include flex(flex, row, center, center);
  margin-top: 10rem;
  color: $color-white;

  @include respond(tab-land) {
    padding: 0 3rem;
  }
}

.tech-aside-left {
  @include flex(flex, column, center, center);
  width: 50%;
}

.tech-aside-right {
  @include flex(flex, column, center, center);
  width: 50%;
}

.tech {
  width: 60%;
  @include flex(flex, row, space-around, center);
  margin: 0 0 2rem 0;

  @include respond(tab-land) {
    width: 70%;
  }

  .fa-html5 {
    color: #ffa500;
  }

  .fa-css3 {
    color: #0000ff;
  }

  .fa-js-square {
    color: #ffff00;
  }

  .fa-vuejs {
    color: #008000;
  }

  .fa-sass {
    color: #ffc0cb;
  }

  .fa-tools {
    color: #005eff;
  }

  .fa-code {
    color: #5858aa;
  }

  .fa-mobile-alt {
    color: #e7ab82;
  }

  .fa-wind {
    color: #33dbb9;
  }

  .fa-figma {
    color: #ec5b3e;
  }

  &__typescript {
    font-size: 3rem;
    color: #0000ff;
  }

  &__nuxt {
    font-size: 2rem;
    color: #008000;
  }

  &__paragraph {
    text-align: start;
    width: 50%;
    font-size: 1.5rem;

    @include respond(tab-land) {
      font-size: 1.3rem;
    }
  }
}
