.container-contact {
  position: relative;
  display: flex;
  height: 100vh;

  @include respond(phone) {
    flex-direction: column;
  }

  &__message {
    position: absolute;
    top: 30%;
    left: 50%;
    display: flex;
    justify-content: center;
    width: 100vw;
    transform: translate(-50%, -30%);
    letter-spacing: 2rem;
    font-size: 2rem;

    @include respond(tab-land) {
      font-size: 1.9rem;
    }

    @include respond(tab-port) {
      letter-spacing: 0.6rem;
    }

    @include respond(phone) {
      font-size: 1rem;
      letter-spacing: 0.2rem;
      top: 24%;
    }
  }

  &__contact- {
    color: $color-secondary;
  }

  &__span {
    color: $color-white;

    @include respond(phone) {
      color: $color-secondary;
    }
  }

  a {
    color: inherit;
  }
}

.aside-left-contact {
  @include flex(flex, row, space-around, center);
  height: 100vh;
  width: 50%;
  background-color: $color-white;

  &__mail {
    @include contact-social-media($color-secondary, $color-white, 40rem);
    box-shadow: -2px 2px 14px -4px rgba($color-secondary, 0.75);

    @include respond(tab-port) {
      font-size: 5rem;
      margin-top: 15rem;
    }

    @include respond(phone) {
      margin-top: 30rem;
      font-size: 6rem;
    }
  }
  &__linkedin {
    @include contact-social-media($color-secondary, $color-white, 20rem);
    box-shadow: -2px 2px 14px -4px rgba($color-secondary, 0.75);

    @include respond(tab-port) {
      font-size: 7rem;
      margin-top: 15rem;
    }

    @include respond(phone) {
      margin: 15rem;
      font-size: 6rem;
    }
  }

  @include respond(phone) {
    height: auto;
    width: 100%;
    flex-direction: column;
  }
}

.aside-right-contact {
  @include flex(flex, row, space-around, center);
  height: 100vh;
  width: 50%;
  background-color: $color-secondary;

  &__github {
    @include contact-social-media($color-white, $color-secondary, 20rem);
    box-shadow: -2px 2px 14px -4px rgba($color-white, 0.75);

    @include respond(tab-port) {
      font-size: 7rem;
      margin-top: 15rem;
    }

    @include respond(phone) {
      font-size: 6rem;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__facebook {
    @include contact-social-media($color-white, $color-secondary, 40rem);
    box-shadow: -2px 2px 14px -4px rgba($color-white, 0.75);

    @include respond(tab-port) {
      font-size: 5rem;
      margin-top: 15rem;
    }

    @include respond(phone) {
      font-size: 6rem;
      margin-bottom: 15rem;
    }
  }
  @include respond(phone) {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
