body {
  @include respond(tab-port) {
    overflow: scroll;
  }
}

.welcome-message {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 53.5%;
  color: $color-white;
  z-index: 10;
  transform: translate(-53.5%, -25%);

  @include respond(big-desktop) {
    left: 52.5%;
    transform: translate(-52.5%, -25%);
  }

  @include respond(tab-land) {
    left: 56%;
    transform: translate(-56%, -90%);
  }
  @include respond(tab-port) {
    left: 53%;
    transform: translate(-53%, -90%);
  }
  @include respond(phone) {
    top: 45%;
    width: 65%;
  }

  &__heading {
    text-transform: uppercase;
    font-size: 7rem;

    @include respond(tab-land) {
      font-size: 5rem;
    }
    @include respond(tab-port) {
      font-size: 3rem;
    }
    @include respond(phone) {
      font-size: 2.5rem;
    }
  }

  &__dot {
    width: 5rem;
    height: 5rem;
    background-color: $color-primary;
    border-radius: 50%;
    margin: 0 0 1rem 2rem;

    @include respond(tab-land) {
      margin: 0 0 0.6rem 2rem;
    }
    @include respond(tab-port) {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 0 0.5rem 1rem;
    }
    @include respond(phone) {
      margin: 0 0 0.2rem 1rem;
      background-color: $color-secondary;
    }
  }
}

.container {
  position: relative;
  height: 100vh;
  display: flex;

  @include respond(phone) {
    height: auto;
    flex-direction: column;
  }

  h1 {
    position: absolute;
  }
}

.aside-left {
  position: relative;
  width: 50%;
  background-color: $color-primary;
  clip-path: polygon(45% 14%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0% 25%);

  @include respond(phone) {
    width: 100%;
    height: 100vh;
    clip-path: polygon(15% 17%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0% 20%);
  }

  .social-media {
    position: absolute;
    top: 50%;
    left: 20%;
    height: 40%;
    transform: translate(-50%, -20%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include respond(tab-land) {
      justify-content: flex-start;
    }

    @include respond(tab-port) {
      top: 45%;
      height: 55%;
      height: 30%;
    }

    @include respond(phone) {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      top: 65%;
      left: 50%;
    }

    &__github {
      width: 10rem;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
      @include respond(tab-port) {
        width: 7rem;
      }
    }

    &__linkedin {
      width: 10rem;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }

      @include respond(tab-land) {
        margin-top: 5rem;
      }

      @include respond(tab-port) {
        width: 7rem;
      }

      @include respond(phone) {
        margin: 0;
      }
    }
  }
}

.aside-right {
  @include flex(flex, row, center, center);
  width: 50%;
  background-color: $color-secondary;

  @include respond(phone) {
    width: 100%;
    height: auto;
    padding: 5rem 0;
  }

  .image-container {
    width: 70%;
    margin-top: 30rem;

    @include respond(tab-land) {
      margin-top: 15rem;
    }

    @include respond(tab-port) {
      margin: 0;
    }

    @include respond(phone) {
      margin-top: 5rem;
    }

    &__image {
      width: 100%;
      mix-blend-mode: lighten;
    }
  }
}
