.welcome-message {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 90%;
  left: 52.5%;
  color: $color-white;
  z-index: 10;
  transform: translate(-52.5%, -90%);

  @include respond(tab-land) {
    left: 56%;
    transform: translate(-56%, -90%);
  }
  @include respond(tab-port) {
    left: 53%;
    transform: translate(-53%, -90%);
  }
  @include respond(phone) {
    top: 95%;
  }

  &__heading {
    text-transform: uppercase;
    font-size: 7rem;

    @include respond(tab-land) {
      font-size: 5rem;
    }
    @include respond(tab-port) {
      font-size: 3rem;
    }
    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &__dot {
    width: 5rem;
    height: 5rem;
    background-color: $color-primary;
    border-radius: 50%;
    margin: 0 0 1rem 2rem;

    @include respond(tab-land) {
      margin: 0 0 0.6rem 2rem;
    }
    @include respond(tab-port) {
      width: 2rem;
      height: 2rem;
      margin: 0 0 0.5rem 1rem;
    }
    @include respond(phone) {
      margin: 0 0 0.2rem 1rem;
    }
  }
}

.container {
  position: relative;
  height: 100vh;
  display: flex;

  @include respond(phone) {
    flex-direction: column;
  }

  h1 {
    position: absolute;
  }
}

.aside-left {
  position: relative;
  width: 50%;
  background-color: $color-primary;
  clip-path: polygon(45% 14%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0% 25%);

  @include respond(phone) {
    width: 100%;
    height: 50vh;
    clip-path: polygon(55% 18%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0% 40%);
  }

  .social-media {
    position: absolute;
    top: 50%;
    left: 20%;
    height: 40%;
    transform: translate(-50%, -20%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include respond(tab-port) {
      top: 45%;
      height: 55%;
    }

    @include respond(phone) {
      flex-direction: row;
      align-items: center;
      width: 100%;
      top: 50%;
      left: 50%;
    }

    &__github {
      width: 10rem;
      transition: 0.2s;
      opacity: 0;
      &:hover {
        transform: scale(1.1);
      }
      @include respond(tab-port) {
        width: 7rem;
      }
    }

    &__linkedin {
      width: 10rem;
      transition: 0.2s;
      opacity: 0;
      &:hover {
        transform: scale(1.1);
      }
      @include respond(tab-port) {
        width: 7rem;
      }
    }
  }
}

.aside-right {
  @include flex(flex, row, center, center);
  width: 50%;
  background-color: $color-secondary;

  @include respond(phone) {
    width: 100%;
    height: 50vh;
  }

  .image-container {
    width: 80%;

    &__image {
      width: 100%;
      mix-blend-mode: lighten;
    }
  }
}
