#projects {
  overflow-y: hidden;

  @include respond(tab-land) {
    overflow-y: visible;
  }
}

.container-projects {
  display: flex;
  position: relative;

  @include respond(tab-port) {
    flex-direction: column;
  }

  .primary-heading {
    position: absolute;
    top: 22%;
    left: 55%;
    transform: translate(-55%, -22%);
    color: $color-secondary;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 10rem;

    @include respond(tab-land) {
      letter-spacing: 7rem;
      left: 56%;
    }

    @include respond(tab-port) {
      letter-spacing: 5rem;
    }

    @include respond(tab-port) {
      letter-spacing: 2rem;
      font-size: 2rem;
      top: 12%;
      left: 55%;
      transform: translate(-55%, -12%);
    }
  }
  span {
    color: $color-white;

    @include respond(tab-port) {
      color: $color-secondary;
    }
  }
}

.javascript-projects {
  height: 100vh;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    '. . . . . . '
    '. . . . . . '
    '. . js-heading js-heading . . '
    '. swiper swiper swiper swiper . '
    '. swiper swiper swiper swiper . '
    '. swiper swiper swiper swiper . '
    '. . . . . . ';

  @include respond(tab-port) {
    width: 100%;
  }

  &__heading {
    font-size: 2rem;
    grid-area: js-heading;
    align-self: center;
    justify-self: center;
    text-decoration: underline;
    padding: 5rem 0 5rem 0;

    @include respond(tab-port) {
      text-align: center;
    }
  }
}

.html-css-projects {
  background-color: $color-secondary;
  height: 100vh;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    '. . . . . . '
    '. . . . . . '
    '. . html-heading html-heading . . '
    '. swiper swiper swiper swiper . '
    '. swiper swiper swiper swiper . '
    '. swiper swiper swiper swiper . '
    '. . . . . . ';

  @include respond(tab-port) {
    background-color: $color-white;
    width: 100%;
    grid-template-areas:
      '. . html-heading html-heading . . '
      '. . html-heading html-heading . . '
      '. swiper swiper swiper swiper . '
      '. swiper swiper swiper swiper . '
      '. swiper swiper swiper swiper . '
      '. . . . . . '
      '. . . . . . ';
  }

  &__heading {
    font-size: 2rem;
    grid-area: html-heading;
    align-self: center;
    justify-self: center;
    text-decoration: underline;
    color: $color-white;

    @include respond(tab-port) {
      text-align: center;
      margin-bottom: 5rem;
      color: $color-secondary;
      align-self: end;
    }
  }
}
